
    /* This is for the experience, education, skills subheads */
.subhead {
    font-weight: bold;
    border-style: outset;
    border-width: 5px;
    border-radius: 5px;

    color:#334CE0;
    margin-bottom: 1%;
}

    /* This is for the job title */
.jobtitle {
    font-weight: bold;
    margin-bottom: 1%;
}

    /* This is for the job's name' */
.organization {
    margin-bottom: 1%;
}

    /* This is for the date of experience */
.date {
    margin-bottom: 1%;
}

    /* This is for the body */
.bodybox {
    font-family: "Open Sans", sans-serif;
    margin-left: 15%;
    margin-right: 15%;

}

    /* This is for my name and position */
.name {
   margin-top: 2%;
   text-align: center;
   font-family: "Open Sans", sans-serif;
   font-weight: bold;


}

.degrees {
    margin-bottom: 1%;
}

.skills {
    margin-bottom: 1%;
}

#bottom {
    background-color: #B0CBE0;
    font-family: "Open Sans", sans-serif;
}