
    /* styles for my resume */

.description {
    font-size: 1em;
    font-weight: 400;
    color: #444;
    font-family: Open Sans, arial;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 0px;
}

#container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
}

    /* This is for my name */

#name {
    font-size: 3em;
    color: #33485e;
    text-align: center;
    text-transform: uppercase;
    font-family: Open Sans, arial;
    font-weight: 400;
    border-bottom: 1px solid #33485e;
    width: 60%;
    min-width: 300px;
    margin:0 auto;

}

    /* This is for my title */

#title {
    color: #33485e;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: Open Sans, arial;
}

    /* This is for my link to my email and GitHub */

.menu {
    font-size: 1em;
    font-family: Open Sans, arial;
    font-weight: 400;
    margin: 0 auto;
    padding: 0;

}

#do {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;

}

    /* This is for my bullet points */

#degrees {
    font-size: 1em;
    font-weight: 400;
    font-family: Open Sans, arial;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;

}

    /* This is for my experience section */

.sectionheader {
    background-color: #33485e;
    font-size: 1em;
    font-family: Open Sans, arial;
    font-weight: 400;
    color:white;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 0px;
    width: 70%;
    min-width: 300px;

}

    /* This is for my job title */

.jobtitle {
    font-weight: 600;
    font-size: 1.5em;
    font-family: Open Sans, arial;
}

    /* This is for the job organization */

.organization {
    font-weight: 400;
    font-size: 1.25em;
    font-family: Open Sans, arial;

}

    /* This is for the dates of job experience */

.date {
    font-weight: 400;
    font-size: 1em;
    font-style: italic;
    font-family: Open Sans, arial;

}
.menu {
    padding:0;
    margin:0;
    text-align:center;

}

.menu li {
    display:inline;
}